@media (max-width: 786px) {

    /* navbar */
    body .nav-bar {
      display: flex;
      flex-direction: column;
    }
    body {
      margin-right: 0px;
    }
    body  {
      margin-left: 0px;
    }
    #banner .img-fluid {
      height: 500px;
    }
  
    /* certificates  */
  
    .container .open1 {
      border-top: 2px solid #ff8787;
  
      border-bottom: 2px solid #ff8787;
    }
    .container .open2 {
      border-top: 2px solid #ff8787;
      padding-top: 48px;
    }
    .container .open3 {
      border-right: none;
      margin-bottom: 0;
    }
  
    /* project
  
     */
    #project .row .deve {
      display: block;
  
      display: flex;
      justify-content: flex-start;
    }
    /* footer */
    .hid {
      display: none;
    }
    /* 9 project charter */
    .name {
      text-align: center;
    }
  }
  